@page "/Reports/Warehouse"
@using BazyDanych.Components.Layout
@using BazyDanych.Data.Models
@using BazyDanych.Repositories
@using BazyDanych.Services
@layout ReportLayout

<RequireLoggedIn RequiredPermissions="[PermissionsModel.Manager]"/>

<PageTitle>Raporty zamówień</PageTitle>

<h3>Raporty zamówień</h3>

<Modal @ref="_modal" Title="Szczegóły zamówienia">
    <BodyTemplate>
        @if (_warehouseOrderModel is { } order)
        {
            <p><strong>Data złożenia:</strong> @order.PlacedAt</p>
            <p><strong>Pracownik składający:</strong> @order.OrderingEmployeeId</p>
            <p><strong>Cena sumaryczna:</strong> @order.TotalPrice zł</p>
            if (order.InProgress)
            {
                <p><strong>W realizacji</strong></p>
            }
            else
            {
                <p><strong>Data przyjęcia:</strong> @order.DeliveredAt</p>
                <p><strong>Pracownik przyjmujący:</strong> @order.AcceptingEmployeeId</p>
            }
        <div style="max-height: calc(100vh - 300px); overflow-y: auto;">
            <table class="table parts-table">
                <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Ilość</th>
                    <th>Cena</th>
                </tr>
                </thead>
                    <tbody>
                    @foreach (var part in order.Parts)
                    {
                    <tr>
                        <td>@part.Product.Name</td>
                        <td>@part.Amount</td>
                        <td>@part.Price zł</td>
                    </tr>
                    }
                    </tbody>
            </table>
                </div>
        }
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="CloseModal">Zamknij</Button>
    </FooterTemplate>
</Modal>

@if (_warehouseOrderModels is null)
{
    <p>
        <em>Ładowanie zamówień...</em>
    </p>
}
else if (!_warehouseOrderModels.Any())
{
    <p>
        <em>Brak zamówień do wyświetlenia.</em>
    </p>
}
else
{
    <div class="d-flex flex-column w-25">
        @foreach (var order in _warehouseOrderModels)
        {
            <Button class="my-1" Color="ButtonColor.Info"
                    @onclick="() => ShowOrderDetails(order)">
                @order.PlacedAt &nbsp;&nbsp;&nbsp; @order.TotalPrice zł 
                @if (order.InProgress)
                {
                    @:W trakcie
                }
            </Button>
        }
    </div>
}

@inject WarehouseOrderRepository WarehouseOrderRepository
@inject UserService UserService

@code {
    
    private Modal _modal = default!;
    private WarehouseOrderModel? _warehouseOrderModel;
    
    private IEnumerable<WarehouseOrderModel>? _warehouseOrderModels;

    protected override async Task OnInitializedAsync()
    {
        _warehouseOrderModels = await WarehouseOrderRepository.GetAllWarehouseOrdersAsync(UserService.EmployeePermissions);
    }
    
    private Task ShowOrderDetails(WarehouseOrderModel warehouseOrderModel)
    {
        _warehouseOrderModel = warehouseOrderModel;
        return _modal.ShowAsync();
    }

    private Task CloseModal() => _modal.HideAsync();
}